<!DOCTYPE html>
<html>
<head>
  <title>Authentifyd</title>
  <%= stylesheet_link_tag    "authentifyd/application", :media => "all" %>
  <%= javascript_include_tag "authentifyd/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
