<div>
  <% if defined?(TWITTER) && user_signed_in? %>
    <% unless user_signed_in? && current_user.authentications.map(&:provider).include?('twitter') %>
      <%= link_to image_tag("authentifyd/signin_with_twitter.png", :alt => "Twitter"), '/auth/twitter' %>
    <% end %>
    </br>                    
    </br>                    
  <% end %>
  <% if defined?(FACEBOOK)%>
    <% unless user_signed_in? && current_user.authentications.map(&:provider).include?('facebook') %>
      <%= link_to image_tag("authentifyd/signin_with_fb.png", :alt => "Facebook"), '/auth/facebook' %>
    <% end %>
    </br>
    </br>                        
  <% end %>
  <% if defined?(GOOGLE)%>
    <% unless user_signed_in? && current_user.authentications.map(&:provider).include?('google_oauth2') %>
      <%= link_to image_tag("authentifyd/signin_with_google.png", :alt => "Google", width: '287' ), '/auth/google_oauth2'%>
    <% end %>
    </br>
    </br>                    
  <% end %>
</div>